<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-unwrap/>
<sly data-sly-call="${clientlib.css @ categories='touchcl.aem'}" data-sly-unwrap/>

   <sly data-sly-test="${wcmmode.edit}"> You are  in Edit Mode </sly>
   <div data-sly-test="${properties.stuname}"> <h1>Student Name: ${properties.stuname} </h1></div>

   <h2> ${currentPage.title} </h2>
   <h2> ${currentPage.name} </h2>
   <h2> ${currentPage.path} </h2>

   <sly data-sly-test="${wcmmode.preview}"> You are  in preview  Mode </sly>
  <h1> Page Title:<div data-sly-text=" ${currentPage.title}">Mock Page Title </div></h1>

 <ul data-sly-list.child="${currentPage.listChildren}"> 
 			<h1> ${child.title}</h1>
            </ul>

<div data-sly-include="sampleinclude.jsp"></div>
<div data-sly-include="include.html"></div>